<h2>Usuários</h2>

<%= link_to with_icon("Novo", "icon-plus"), new_user_path, :class => "btn" %>
<br/><br/>

<table class="table">
<thead>  <tr>
    <th>Nome</th>
    <th>Login</th>
    <th>Administrador</th>
	<th>Data de criação</th>
  </tr>
</thead>
<% @users.each do |user| %>
  <tr>
	<td><%= link_to user.name, user %></td>
    <td><%= user.login %></td>
	<td><%= checkbox(user.is_admin) %></td>
    <td><%= user.created_at %></td>
    <td>
	<%= link_to excluir, user, confirm: 'Tem certeza?', method: :delete, :class => "btn btn-small" %> </td>
  </tr>
<% end %>
</table>

<br />